<h2 class="text-center text-info mt-5 mb-3">About</h2>

<P class="text-center">
  <strong>わかりやすい検索機能や、注文機能でカジュアルに好みの作家や作品に出会える場所。<br>
  作品をカラーやテーマで分類し、好みの作品を見つけやすくしました。<br>
  作家フォロー機能もあるので、好みの作家をフォローして作品情報を受け取れます。</strong>
</P>