<div class="container">
  <div class="row">
    <h2 class="text-info mt-5 mb-3"><%= @creator.name %>の個展情報一覧</h2>
  </div>

  <% @galleries.each do |gallery| %>
    <div class="row mb-3">
      <div class="border col-4">
        <p class="mt-2 border-bottom"><strong><%= link_to gallery.name, gallery_path(gallery.id), class: "text-info" %></strong></p>
        <p><%= gallery.overview %></p>
      </div>
    </div>
  <% end %>

  <div class="text-center mt-5"><%= link_to "作家ページへ", creator_path(@creator.id), class: "btn btn-outline-info" %></div>
</div>
